* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-r {
  width: 80%;
}
.container {
  width: 75%;
  height: 500px;
  background: white;
  margin: 0 auto;
  margin-top: 6rem;
  border-radius: 40px;
}
.heading {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
.btn button {
  background: linear-gradient(
        90deg,
        #ae8625 -14.18%,
        #f7ef8a 49.43%,
        #d2ac47 91.44%,
        #d2ac47 119.7%,
        #edc967 119.7%
      )
      padding-box,
    linear-gradient(to bottom, #dfbd69, #926f34) border-box;

  border-radius: 9px;
}
.btn {
  align-items: center;
  display: flex;
  justify-content: center;
  border: 3px solid transparent;
}
.card-div {
  border: 1px solid #393939;
  height: 600px;
  width: 350px;
  border-radius: 10px;
  background-color: #393939;
  padding: 0.5px;
}
.image {
  border-radius: 10px;
  background: #212121;
}
.para {
  color: #b5d654;
}

.cards {
  background-color: #393939;
}
.icon{
  background-color: #393939;
  border-radius: 20px;
}
.icons {
  margin-top: 28px;
}